.content-detail {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 3rem;
  box-shadow: 0px 2px 7px rgb(22 30 106 / 30%);
  margin-bottom: 3rem;
}
.content-detail h4,
.author-title p,
.remaining-info h5
{
  font-weight: bold;
}
.author-title {
  display: flex;
}

.author-title i {
  margin-right: .5rem;
  margin-top: 5px;
  font-size: 18px;
  color: var(--primary-color)
}

.fb-comments {
  border-top: 1px solid #ccc;
  width: 100%;
}

.blog-detail img {
  width: 100%;
  height: 350px;
}